In [160]:
import pandas as pd
import itertools
import collections

In [161]:
# Data read
data = pd.read_csv(r'C:\Hari\Q5_books\143\HW7\survey_data.csv')

In [171]:
extractedOp = data['Is there anything in particular you want to use Python for?']
c = extractedOp.str.split(',')

s_flat = c.apply(pd.Series).stack().tolist()
my_list = [s.lstrip() for s in s_flat]
result = dict(collections.Counter(my_list))
df = pd.DataFrame(list(result.items()), columns=['Name','count'])

ValueError: 1 columns passed, passed data had 2 columns

In [169]:
df

                                        None  count
0             Data extraction and processing    291
1                             Data analytics    351
2                           Machine learning    381
3                       Statistical analysis    222
4                       Numerical processing    173
5                           All of the above      1
6                   Scientific visualization    198
7                            Web development    104
8                            Computer vision      1
9                           Image Processing      1
10          Computer vision/image processing      1
11                        As a general skill      1
12  scripting seems desirable for many jobs       1
13                                  not sure      1
14                           Computer Vision      1
15                                 EDA tools      1