In [37]:
import pandas as pd
import collections

In [38]:
def add_month_yr():
    data = pd.read_csv(r'C:\Hari\Q5_books\143\HW7\survey_data.csv')
    timeStamp = data['Timestamp']
    dateOnly = pd.to_datetime(timeStamp).dt.date
    dateOnly = dateOnly.apply(lambda x: x.strftime('%b-%Y'))
    data['month-yr'] = dateOnly
    data['month-yr']=data['month-yr'].astype(str)
    return data

In [60]:
def count_month_yr():
    data = add_month_yr()
    extractedData = data['month-yr'].to_list()
    dateDict = dict(collections.Counter(extractedData))
    result = pd.DataFrame.from_dict(dateDict, orient='index', columns=['Timestamp'])
    result.index.name = 'month-yr'
    print(result)

In [66]:
def fix_categorical():
    data = add_month_yr()
    extractedData = data['month-yr'].to_list()
    dateList = list(collections.Counter(extractedData))
    print(dateList)
    catDataType = pd.CategoricalDtype(categories=dateList, ordered=True)
    data['month-yr'] = data['month-yr'].astype(catDataType)
    print(type(data['month-yr']))
    return data

In [67]:
x = fix_categorical()
x.groupby('month-yr')['Timestamp'].count().to_frame().sort_index()

['Sep-2017', 'Jan-2018', 'Feb-2018', 'Mar-2018', 'Apr-2018', 'Sep-2018', 'Oct-2018', 'Jan-2019']
<class 'pandas.core.series.Series'>

          Timestamp
month-yr
Apr-2018         28
Feb-2018          2
Jan-2018        148
Jan-2019         57
Mar-2018         41
Oct-2018          6
Sep-2017         74
Sep-2018        130